body {
    font-size: .875rem;
    color: #b3b3b3;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
}


/*
 * Navbar
 */

.navbar {
    /* background-color: #ffffff; */
    min-width: 1080px;
    height: 60px;
    /* color: #000; */
    background-color: #303030;
    border-bottom: #404040 solid 1px;
}
.navbar h1 a:hover {
text-decoration: none;
}

.header-title {
    font-size: 20px;
    color: #FFFFFF;
}


/*
 * Sidebar
 */

.sidebar {
    z-index: 100;
    /* Behind the navbar */
    padding: 60px 0 0;
    /* Height of navbar */
    background-color: #363636;
    width: 550px;
    border-right: #404040 solid 1px;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 60px);
    padding-top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-item {
    width: 33.3333333%;
    min-height: 70px;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #FFF;
    border-radius: 0;
    text-align: center;
    font-size:18px;
}

.sidebar .nav-link.active {
    color: #FFFFFF;
    background-color: #5d5d5d;
}

.sidebar .nav-link {
    color: #666666;
    background-color: #303030;
}

.sidebar .nav-link span {
    display: block;
    color: #666666;
    font-weight: bold;
}
.sidebar .nav-link.active span {
    display: block;
    color: #eabf00;
    font-weight: bold;
}


/*
* Sidebar content
*/

.highlight {
    text-align: left;
    font-size: 15px;
    color: #b3b3b3;
    line-height: 1.5rem;
}

.highlight .label {
    font-weight: normal;
}

.highlight .case-number {
    font-size: 20px;
    font-weight: bold;
}

.highlight:nth-child(2) {
    border-left: #404040 solid 1px;
    border-right: #404040 solid 1px;
}

.highlight.death .case-number,
.highlight.death .change,
.death {
    color: #ff4c4c !important;
}

.highlight.recovered .case-number,
.highlight.recovered .change,
.recovered {
    color: #00cc29 !important;
}

.highlight.tested .case-number,
.highlight.tested .change,
.tested {
    color: #1cd5ee !important;
}

.highlight.confirmed .case-number,
.highlight.confirmed .change,
.confirmed {
    color: #eabf00 !important;
}

.highlight .change {
    font-weight: bold;
    font-size: 12px;
    line-height: 1.5rem;
}

.highlight .change i {
    padding-right: 5px;
}


/*
* Sidebar tabs control
*/

.tab-content {
    background-color: #5d5d5d;
}

.tab-content>div {
    display: none;
}

.tab-content>.active {
    display: block;
}


/*
* Sidebar Search
*/

.form-control,
.input-group>.input-group-prepend>.input-group-text {
    border-radius: 0;
}

.input-group>.input-group-prepend>.input-group-text {
    background-color: #363636;
    border: #414141 1px solid;
    color: #646464;
}

.input-group input,
.input-group input:focus {
    background-color: #646464;
    border: #414141 1px solid;
    color: #b3b3b3;
}


/*
* Sidebar tables
*/

#illinois-table,
#county-table {
    margin: 0 !important;
    padding: 0 !important;
}

.dataTables_filter {
    width: 100%;
}

.dataTables_wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
    color: #b3b3b3;
}

#county-table_wrapper, #world-table_wrapper {
    height: calc(100vh - 307px);
}

#illinois-table_wrapper {
    height: calc(100vh - 280px);
}
.table thead th,
.table {
    background-color: #303030;
}

.table thead th {
    border-top: none;
    border-bottom: #414141 1px solid;
    text-align: center;
}

.table td,
.table th {
    padding: .75rem;
    vertical-align: top;
    border-top: none;
    border-bottom: #414141 solid 1px;
    color: #b3b3b3;
}

table td {
    text-align: center;
    font-size: 13px;
}


#sidebar_control,
#sidebar_control:focus {
    position: absolute;
    top: 50%;
    background-color: #cc1b1b;;
    border: none;
    z-index: 10;
    border-radius: 0;
    height: 52px;
    padding: 10px;
    line-height: 2rem;
    flex: 0 0 30px;
    order: 2;
    margin: 0 auto;
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-align: center;
}

#sidebar_control.closed i {
    transform: rotate(180deg); /* Equal to rotateZ(45deg) */
}
#sidebar_control.closed {
    background-color: #1bcc1b;
}

#sliderContainer {
    padding: 0 !important;
}

.esri-view-height-small .esri-expand .esri-widget--panel, .esri-view-height-small .esri-expand .esri-widget--panel-height-only, .esri-view-height-small .esri-ui-corner .esri-component.esri-widget--panel, .esri-view-height-small .esri-ui-corner .esri-component.esri-widget--panel-height-only {
    max-height: 350px !important;
}