body {
    font-size: .875rem;
    color: #b3b3b3;
}

.outter-wrap {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    /* give the outermost container a predefined size */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.content-section {
    margin: 0;
    background: #2196F3;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* for Firefox */
    min-height: 0;
    transition: all .5s;
}

.about-screen {
    overflow: auto;
    background-color: #303030;
    padding: 15px;
    font-size: 13px;
    color: white;
    text-align: justify;
}

.about-screen h1 {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.about-screen img {
    width: 100% !important;
    height: auto;
}

.about-screen a,
.about-screen a:focus {
    color: #1cd5ee;
}

.mobile-button {
    border-top: #3c3c3c 1px solid;
}

.screen-btn {
    padding: 5px 0;
    text-align: center;
    border-left: #3c3c3c 1px solid;
    font-size: 11px;
    color: white;
}

screen-btn:first {
    border: none;
}

#about-screen-btn.active,
#map-screen-btn.active,
#table-screen-btn.active {
    background-color: #00a4e4;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
}


/*
 * Navbar
 */

.navbar {
    /* background-color: #ffffff; */
    /* min-width: 1080px; */
    height: 60px;
    width: 100%;
    background-color: #303030;
    border-bottom: #404040 solid 1px;
}

.navbar h1 a:hover {
    text-decoration: none;
}

.header-title {
    font-size: 20px;
    color: #FFFFFF;
}


/*
 * Sidebar
 */

.sidebar {
    flex-grow: 1;
    z-index: 100;
    padding: 0;
    background-color: #363636;
    /* max-width: 550px; */
    border-right: #404040 solid 1px;
    display: flex;
    flex-direction: column;
}

.sidebar.closed {
    display: none;
}

.sidebar .nav-item {
    width: 33.3333333%;
    /* min-height: 70px; */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #FFF;
    border-radius: 0;
    text-align: center;
    font-size: 17px;
}

.sidebar .nav-link.active {
    color: #FFFFFF;
    background-color: #5d5d5d;
}

.sidebar .nav-link {
    color: #666666;
    background-color: #303030;
}

.sidebar .nav-link span {
    display: block;
    color: #666666;
    font-weight: bold;
}

.sidebar .nav-link.active span {
    display: block;
    color: #eabf00;
    font-weight: bold;
}


/*
* Sidebar content
*/

.highlight {
    text-align: left;
    font-size: 15px;
    color: #b3b3b3;
    line-height: 1.5rem;
}

.highlight .label {
    font-weight: normal;
}

.highlight .case-number {
    font-size: 20px;
    font-weight: bold;
}


/* .highlight:nth-child(2) {
    border-left: #404040 solid 1px;
    border-right: #404040 solid 1px;
} */

.highlight.death .case-number,
.highlight.death .change,
.death {
    color: #ff4c4c !important;
}

.highlight.recovered .case-number,
.highlight.recovered .change,
.recovered {
    color: #00cc29 !important;
}

.highlight.tested .case-number,
.highlight.tested .change,
.tested {
    color: #1cd5ee !important;
}

.highlight.confirmed .case-number,
.highlight.confirmed .change,
.confirmed {
    color: #eabf00 !important;
}

.highlight .change {
    font-weight: bold;
    font-size: 12px;
    line-height: 1.5rem;
}

.highlight .change i {
    padding-right: 5px;
}


/*
* Sidebar Search
*/

.form-control,
.input-group>.input-group-prepend>.input-group-text {
    border-radius: 0;
}

.input-group>.input-group-prepend>.input-group-text {
    background-color: #363636;
    border: #414141 1px solid;
    color: #646464;
}

.input-group input,
.input-group input:focus {
    background-color: #646464;
    border: #414141 1px solid;
    color: #b3b3b3;
}


/*
* Sidebar tables
*/

.tabs-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* for Firefox */
    min-height: 0;
}

.tabs-wrap .tab {
    flex-grow: 1;
    /* for Firefox */
    min-height: 0;
    display: none;
}

.tabs-wrap .tab.active {
    display: flex;
    flex-grow: 1;
}

.tab-header {
    background-color: #5d5d5d;
}

.tab-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.tab-table {
    background: black;
    flex-grow: 1;
    overflow: auto;
    /* for Firefox */
    min-height: 0;
}

.table-wrap {
    flex: 1;
    overflow: auto;
}

.tab-table {
    text-align: center;
    font-size: 13px;
    margin-top: 0 !important;
}

#illinois-table,
#county-table,
#world-table {
    margin: 0 !important;
    padding: 0 !important;
}

.dataTables_filter {
    width: 100%;
}

.dataTables_wrapper {
    color: #b3b3b3;
}

.table thead th,
.table {
    background-color: #303030;
}

.table thead th {
    border-top: none;
    border-bottom: #414141 1px solid;
    text-align: center;
}

.table td,
.table th {
    padding: .75rem;
    vertical-align: top;
    border-top: none;
    border-bottom: #414141 solid 1px;
    color: #b3b3b3;
}

#sidebar_control,
#sidebar_control:focus {
    position: absolute;
    top: 50%;
    background-color: #cc1b1b;
    border: none;
    z-index: 10;
    border-radius: 0;
    height: 52px;
    padding: 10px;
    line-height: 2rem;
    flex: 0 0 30px;
    order: 2;
    margin: 0 auto;
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-align: center;
}

#sidebar_control_mobile_close {
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: 0px;
    border-radius: 3px 0px 0px 3px;
    background-color: #cc1b1b;
    color: #FFFFFF;
    line-height: 0;
    text-align: center;
    vertical-align: top;
    padding: 10px 13px;
}

#sidebar_control_mobile_open {
    display: none;
    position: absolute;
    z-index: 10;
    left: 0px;
    bottom: 20px;
    border-radius: 0px 3px 3px 0px;
    background-color: #00cc29;
    color: #FFFFFF;
    line-height: 0;
    text-align: center;
    vertical-align: top;
    padding: 10px 13px;
}

#sidebar_control.closed i {
    transform: rotate(180deg);
    /* Equal to rotateZ(45deg) */
}

#sidebar_control.closed {
    background-color: #1bcc1b;
}

#sliderContainer {
    padding: 0 !important;
}

.esri-view-height-small .esri-expand .esri-widget--panel,
.esri-view-height-small .esri-expand .esri-widget--panel-height-only,
.esri-view-height-small .esri-ui-corner .esri-component.esri-widget--panel,
.esri-view-height-small .esri-ui-corner .esri-component.esri-widget--panel-height-only {
    max-height: 350px !important;
}


/* // Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    .sidebar {
        position: relative;
        top: 0;
        left: 0;
        z-index: 0;
    }
    main {
        position: relative;
        z-index: 100;
        top: 0;
        left: 0;
    }
    .content-section {
        transform: translateX(-100%);
    }
    .tab-table {
        font-size: 12px;
        line-height: 1.2;
    }
    .search-wrap .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: 5px;
        font-size: 12px;
        font-weight: 400;
        line-height: 1;
    }
    #sidebar_control {
        display: none;
    }
}


/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
    .sidebar {
        position: relative;
        top: 0;
        left: 0;
        z-index: 0;
        display: none;
        border-right: none;
    }
    main {
        position: relative;
        z-index: 100;
        top: 0;
        left: 0;
    }
    .content-section {
        transform: translateX(-100%);
    }
    .tab-table {
        font-size: 12px;
        line-height: 1.2;
    }
    #sidebar_control {
        display: none;
    }
}


/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    #sidebar_control_mobile_close,
    #sidebar_control_mobile_open {
        display: none !important;
    }
}


/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    #sidebar_control_mobile_close,
    #sidebar_control_mobile_open {
        display: none !important;
    }
}


/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    #sidebar_control_mobile_close,
    #sidebar_control_mobile_open {
        display: none !important;
    }
}

.map-fullscreen {
    width: 100% !important;
    max-width: 100%;
    flex: 0 0 100%;
}

.invisible {
    visibility: collapse;
}

.esri-expand .esri-expand__content {
    box-shadow: none;
}

.esri-view-height-xsmall .esri-ui-corner .esri-expand .esri-legend.esri-widget,
.esri-view-height-small .esri-ui-corner .esri-expand .esri-legend.esri-widget {
    max-height: 100%;
}

.esri-view-width-less-than-small .esri-zoom .esri-widget--button,

/* .esri-view-width-less-than-small .esri-home, */

.esri-view-width-less-than-small .esri-fullscreen {
    display: none;
}