/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

main,
#app-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

#applicationDiv {
    background-color: #242424;
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

#map {
    width: 100%;
    height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.leaflet-bottom.leaflet-left{
    width: 100%;
}

.leaflet-control-container .leaflet-timeline-controls{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
}

#titleDiv {
    font-weight: 400;
    font-style: normal;
    font-size: 1.2019rem;
    padding: 10px;
}

#sliderContainer {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    padding: 0 12px;
    height: 100px;
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 50px !important;
    flex: 0 0 50px !important;
}

#parametersDiv {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

#sliderValue {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40px;
    flex: 0 0 40px;
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    font-size: 170%;
    padding: 0 20px;
    margin: 10px;
    height: 30px;
}

#sliderInnerContainer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 50px;
}

#slider {
    width: 100%;
}

.chart-wrap {
    width: 100%;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    position: relative;
}

#close_chart {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100000;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

#myChart {
    display: none;
    z-index: 1000;
    left: 15px;
    top: 500px;
    width: 100% !important;
    height: 200px !important;
    background: #242424;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

.hideDiv {
    display: none !important;
}


/**
  * Play/Stop toggle button
  */

#playButton {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin: 10px;
}

.toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.toggle-button.toggled .toggle-button-icon {
    color: #cc1b1b;
}

.toggle-button .toggle-button-icon {
    color: #1bcc1b;
}

.toggle-button> :nth-child(2) {
    display: none;
}

.toggle-button.toggled> :nth-child(1) {
    display: none;
}

.toggle-button.toggled> :nth-child(2) {
    display: block;
}


/**
    * Hover tooltip
    */

.tooltip {
    position: absolute;
    pointer-events: none;
    -webkit-transition: opacity 200ms;
    -o-transition: opacity 200ms;
    transition: opacity 200ms;
}

.tooltip>div {
    margin: 0 auto;
    padding: 12px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.75);
    -webkit-transform: translate3d(-50%, -125%, 0);
    transform: translate3d(-50%, -125%, 0);
}

.map-title {
    z-index: 1000;
    left: 10px;
    top: 15px;
    display: block;
    position: absolute;
    height: 64px;
    color: white;
}

.map-title h1 {
    font-size: 25px;
    padding: 0;
    margin: 0;
    line-height: unset;
}

.sidebar-left {
    z-index: 1000;
    display: block;
    position: absolute;
    left: 10px;
    top: 90px;
    height: calc(100% - 120px);
    width: 15%;
    min-width: 300px;
    /* background-color: #242424; */
}

.sidebar-lowerleft {
    z-index: 1000;
    display: block;
    position: absolute;
    left: 10px;
    top: 350px;
    height: 200px;
    width: 15%;
    min-width: 300px;
    /* background-color: #242424; */
}

.myChart {
    position: absolute;
    right: 0;
    top: 30%;
    width: 300px !important;
    height: 200px !important;
    /* background:black; */
    /* position: fixed; */
}


/* .sidebar-right {
    z-index: 1000;
    display: block;
    position: absolute;
    right: 20px;
    bottom: 80px;
    height: calc(100% - 260px);
    width: 15%;
    min-width: 300px;
    background-color: #242424;
} */

.bordered-box {
    background-color: #242424;
    border: 1px solid #363636;
    /* border-radius: 5px; */
    overflow: hidden;
}

.bordered-box h2 {
    font-size: 20px;
}

.sidebar-left .total {
    /* height: 20%; */
    margin-bottom: 10px;
    position: relative;
    color: white;
}

.sidebar-left .total h3 {
    font-size: 65px;
    font-family: 'Open Sans', sans-serif !important;
}

.confirmed {
    color: orange;
}

.deaths {
    color: red;
}

.recovered {
    color: rgb(112, 168, 0);
}

.sidebar-left i {
    z-index: 10000;
    color: white;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.cases {
    position: relative;
    color: white;
    overflow: hidden;
    max-height: 290px;
}

.cases .title {
    border-bottom: #363636 solid 1px;
}

.cases .title p {
    margin: 0;
}

.cases .case-list {
    height: 100%;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
}

.case-list .case {
    border-bottom: #363636 solid 1px;
}

.case-list .case p {
    margin: 0;
    padding: 5px 0;
}

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background: #353535;
    border-radius: 0px
}

::-webkit-scrollbar-thumb {
    background: #9d9d9d;
    border-radius: 0px
}

.esri-view-height-medium .esri-expand .esri-widget--panel,
.esri-view-height-medium .esri-expand .esri-widget--panel-height-only,
.esri-view-height-medium .esri-ui-corner .esri-component.esri-widget--panel,
.esri-view-height-medium .esri-ui-corner .esri-component.esri-widget--panel-height-only {
    max-height: 335px !important;
}


/* // Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    .esri-view-width-xsmall .esri-expand--auto .esri-expand__container--expanded {
        position: fixed;
        top: 0;
        bottom: 0;
        margin: 0;
        height: 100%;
        background: #242424;
        z-index: 1;
        overflow: auto;
        width: 100%;
    }
    #sliderInnerContainer {
        display: none;
    }
    #sliderContainer {
        margin: 0 auto;
    }
    .esri-view-width-less-than-small .esri-zoom .esri-widget--button {
        display: block;
    }
    .esri-icon.esri-icon-plus,
    .esri-icon.esri-icon-minus {
        padding-top: 8px;
    }
    .esri-view-width-xsmall .esri-expand--auto .esri-expand__container--expanded {
        position: fixed;
        top: 30%;
        bottom: 0;
        margin: 0;
        height: 100%;
        background: #242424;
        z-index: 1;
        overflow: auto;
        right: 0;
        left: 100%;
    }
}


/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
    .esri-view-width-xsmall .esri-expand--auto .esri-expand__container--expanded {
        position: fixed;
        /* top: 0; */
        /* bottom: 0; */
        margin: 0;
        height: 100%;
        background: #242424;
        z-index: 1;
        overflow: auto;
        width: 100%;
    }
    #sliderInnerContainer {
        display: none;
    }
    #sliderContainer {
        margin: 0 auto;
    }
    .esri-view-width-less-than-small .esri-zoom .esri-widget--button {
        display: block;
    }
    .esri-icon.esri-icon-plus,
    .esri-icon.esri-icon-minus {
        padding-top: 8px;
    }
    .esri-view-width-xsmall .esri-expand--auto .esri-expand__container--expanded {
        position: fixed;
        top: 30%;
        bottom: 0;
        margin: 0;
        height: 100%;
        background: #242424;
        z-index: 1;
        overflow: auto;
        right: 0;
        left: 100%;
    }
}